
* {
  margin: 0 0;
  padding: 0 0;
}

#root {
  margin: 0 auto;
  background-color: rgb(70, 70, 70);
  color: rgba(255, 255, 255, 0.6);
  height: 100%;
}

.main {
  position: relative;
  background-image: url(../src/assets/img/favicon.ico);
  background-position-x: 52%;
  background-position-y: 30%;

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: rgb(34, 34, 34);
  margin: 0 auto; 
  width: 50%;
  text-align: left;
  min-height: 100vh;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 40vmin;
  pointer-events: none;
}


/* 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.name {
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
  color: rgb(143, 168, 238);
}

.time {
  font-style: italic;
  font-size: 0.8em;
  position: absolute;
  right: 20px;
}

ul {
  padding: 5px 10px 43px 10px;
  position: relative;
}

li {
  /* bottom: 0; */
  padding: 5px 10px;
  list-style: none;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgba(82, 82, 82, 0.603);
  border: 1px solid black;
  border-radius: 3px;
}

.message-body {
  /* word-break: break-all; */

  margin-top: 0;
  margin-bottom: 0;
}

.sign-form {
  z-index: 100;
  display: inline-block;
  position: fixed;
  top: 0px;
  width: 50%;
  background-color: rgb(34, 34, 34);
}

.message-form {
  display: inline-block;
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.input-massage {
  border: 2px solid rgba(82, 82, 82, 0.603);
  background-color: rgb(34, 34, 34);
  box-sizing: border-box;
  margin: 10px;
  width: calc(50% - 20px);
  height: 2em;
  font-size: 1rem;
  
  padding-left: 11px;
  border-radius: 0.25em;
  word-break: break-all;
  color: rgb(255,255,255);
  font-weight: 200;
}

.input-massage.active {
  border-color: rgb(143, 168, 238);
}

.input-massage.active:focus {
  outline: none;
  border-color: #F3CE5D;
}

.input-massage.active::-webkit-input-placeholder {
	font-style: italic;
}

.input-massage.active:focus::-webkit-input-placeholder {
	opacity: 0.2;
}

.connection-status {
  display: inline-block;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 5rem;
  /* height:  */
}


@media screen and (max-width: 600px) {
  .main {
    width: 100%;
  }

  .input-massage {
    width: calc(100% - 20px);
  }
}